@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
/* *{
  font-family: 'Poppins' !important;
  font-weight:bold;
} */


.active {
  @apply text-white border-b border-white pb-2
}

.top-canvas {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.top-canvas svg , .bottom-canvas svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 101px;
}

.top-canvas .shape-fill , .bottom-canvas .shape-fill {
  fill: white;
}
.bottom-canvas {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}


@keyframes carAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}