@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
/* *{
  font-family: 'Poppins' !important;
  font-weight:bold;
} */


.active {
  @apply text-white border-b border-white pb-2
}

.custom-shape-divider-bottom-1684410295 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1684410295 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 101px;
}

.custom-shape-divider-bottom-1684410295 .shape-fill {
  fill: #FFFFFF;
}


@keyframes carAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-22%);
  }
}